apiVersion: apps/v1
kind: Deployment
metadata:
  name: gerenciador-oficina-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gerenciador-oficina-postgres
  template:
    metadata:
      labels:
        app: gerenciador-oficina-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: gerenciador-oficina
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-data
          emptyDir: { }
---
apiVersion: v1
kind: Service
metadata:
  name: gerenciador-oficina-postgres
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: gerenciador-oficina-postgres
